.commonHeader {
  height: 177px; }

.location {
  width: 1200px;
  height: 38px;
  margin: 0 auto;
  line-height: 38px; }
  .location a {
    color: #666; }
  .location a:last-child {
    color: #999; }
  .location span {
    color: #999;
    margin: 0 8px; }

.detailContent {
  width: 1200px;
  height: 577px;
  margin: 0 auto; }

.detailContent_left {
  float: left;
  position: relative; }
  .detailContent_left .imgbox {
    width: 450px;
    height: 450px;
    position: relative;
    border: 1px solid #f0f0f0; }
    .detailContent_left .imgbox .img_small {
      width: 450px;
      height: 337.5px;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto; }
      .detailContent_left .imgbox .img_small img {
        width: 450px;
        height: 337.5px; }
      .detailContent_left .imgbox .img_small .xiaofang {
        background-color: orange;
        opacity: 0.3;
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0; }
    .detailContent_left .imgbox .img_big {
      width: 637px;
      height: 534px;
      border: 1px solid #ccc;
      position: absolute;
      left: 450px;
      top: 0;
      overflow: hidden;
      z-index: 999;
      visibility: hidden; }
      .detailContent_left .imgbox .img_big img {
        width: 900px;
        height: 675px;
        position: absolute; }
  .detailContent_left .imglist {
    width: 376px;
    height: 64px;
    float: left;
    margin-top: 11px;
    overflow: hidden;
    position: relative; }
    .detailContent_left .imglist ul {
      position: absolute; }
      .detailContent_left .imglist ul::after {
        content: '';
        display: block;
        clear: both; }
      .detailContent_left .imglist ul li {
        width: 60px;
        height: 60px;
        border: 2px solid white;
        margin-right: 14px;
        float: left;
        position: relative; }
        .detailContent_left .imglist ul li img {
          width: 60px;
          height: 45px;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          cursor: pointer; }
      .detailContent_left .imglist ul .active {
        border: 2px solid #fc002d; }
  .detailContent_left span {
    margin-top: 11px;
    float: left;
    color: #999999;
    font-size: 25px;
    width: 31.5px;
    height: 60px;
    line-height: 60px;
    cursor: pointer; }
  .detailContent_left span:last-child {
    margin-left: 5px; }
  .detailContent_left .iconfont_ban {
    color: #dddddd;
    pointer-events: none; }

.detailContent_right {
  width: 728px;
  height: 262px;
  float: left;
  margin-left: 20px;
  position: relative; }
  .detailContent_right > span {
    display: block;
    width: 100%;
    height: 26px;
    line-height: 26px;
    font-size: 16px;
    margin: 10px 0; }
  .detailContent_right > p {
    width: 100%;
    height: 80px;
    line-height: 80px;
    background-color: #f8f8f8;
    color: #999;
    text-indent: 10px; }
    .detailContent_right > p i {
      color: #fc002e;
      font-size: 30px;
      margin-left: 20px; }
      .detailContent_right > p i em {
        font-size: 16px;
        margin-right: 3px; }
  .detailContent_right div {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-indent: 10px;
    color: #999;
    margin-top: 21px; }
    .detailContent_right div i {
      float: left; }
    .detailContent_right div span {
      float: left;
      width: 20px;
      height: 30px;
      border: 1px solid #ddd;
      position: relative;
      margin-left: 20px; }
      .detailContent_right div span img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto; }
    .detailContent_right div span:last-child {
      margin: 0; }
    .detailContent_right div p {
      float: left;
      width: 30px;
      height: 30px;
      border: 1px solid #ddd;
      margin: 0 5px; }
  .detailContent_right button {
    width: 150px;
    height: 44px;
    background-color: #fc4164;
    border: none;
    margin-top: 40px;
    color: white;
    font-size: 16px;
    position: absolute;
    left: 65px; }

/*# sourceMappingURL=detail.css.map */
