footer {
    width: 100%;
    height: 140px;
    background-color: #302e2e;
    color: #999;
    position: relative;
    bottom: -140px;
}
footer .footerBox {
    width: 1200px;
    height: 100px;
    position: absolute;
    left: 0;right: 0;top: 0;bottom: 0;
    margin: auto;
}
footer .footerBox p {
    width: 1100px;
    margin-top: 13px;
}
footer .footerBox p:first-child .text {
    font-size: 14px;
}
footer .footerBox p:first-child .phone {
    font-size: 18px;
    color: #fc002d;
}
footer .footerBox p:last-child span{
    margin-right: 15px;
}
footer .footerBox>img {
    float: right;
    width: 100px;
    height: 100px;
}