header {
    width: 100%;
    height: 30px;
    background-color: #f6f6f6;
    line-height: 30px;
}
.headerBox {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.headerBox .left {
    float: left;
}
.headerBox .right {
    float: right;
}
.headerBox a {
    color: #474747;
}
.headerBox span {
    font-size: 0;
    margin: 0 10px;
    color: #d3ccd3;
    display: inline-block;
    width: 1px;
    height: 10px;
    background: #d3ccd3;
    vertical-align: middle;
}
.header {
    width: 1200px;
    height: 112px;
    margin: 0 auto;
}
.header h1 {
    width: 329px;
    height: 58px;
    background: url(https://icon.zol-img.com.cn/ucdn/b-zol-com/1.0.2/img/logo.34b1b031.png) no-repeat;
    float: left;
    margin: 32px 15px 0 0;
    text-indent: -999px;
}
.header .search {
    width: 600px;
    height: 58px;
    margin: 30px 0 0 80px;
    float: left;
}
.header img {
    width: 80px;
    height: 80px;
    float: right;
    margin: 17px 0 0;
}
.header .searchBox {
    width: 100%;
    height: 38px;
    margin-bottom: 2px;
    position: relative;
}
.header .searchBox .searchInput {
    width: 480px;
    height: 30px;
    border: 2px solid #fd4165;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    padding: 2px 8px 2px 34px;
    position: relative;
}
.header .searchBox .searchInput::before {
    content: '';
    width: 15px;
    height: 15px;
    background: url(../img/header_fang.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 12px;
    top: 10px;
}
.header .searchBox input {
    width: 480px;
    height: 30px;
    position: absolute;
    border: none;
}
.header .searchBox a {
    width: 74px;
    height: 38px;
    position: absolute;
    top: 0;right: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: linear-gradient(90deg,#fd4165,#fc002d);
    color: white;
    font-size: 16px;
    line-height: 38px;
    text-align: center;
}
.header .hotWord {
    width: 100%;
    height: 18px;
    line-height: 18px;
    padding-left: 15px;
}
.header .hotWord a {
    color: #666;
    
}
.header .hotWord span {
    display: inline-block;
    width: 1px;
    height: 10px;
    color: #d3ccd3;
    font-size: 0;
    margin: 0 10px;
    background: #d3ccd3;
    vertical-align: middle;
}
.navs {
    width: 100%;
    height: 35px;
    line-height: 35px;
    background: #fc002d;
    color: white;
    font-size: 16px;
  }
  
  .nav {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
  }
  .nav .navlist {
    width: 230px;
    height: 100%;
    display: inline-block;
    text-align: center;
    background: #df022d;
    margin-right: 10px;
    position: relative;
  }
  .nav .navlist ul {
    width: 100%;
    position: absolute;
    top: 35px;
    left: 0;
    background-color: white;
    z-index: 999;
  }
  .nav .navlist ul li {
    height: 36px;
    line-height: 38px;
    color: #333;
    font-size: 13px;
    text-align: left;
    padding-left: 30px;
    position: relative;
  }
  .nav .navlist ul li::before {
    content: '';
    display: inline-block;
    width: 17px;
    height: 18px;
    background: url(../img/index_nav_li.png) no-repeat;
    position: absolute;
    left: 8px;
    top: 11px;
  }
  .nav .navlist ul li:hover {
    background: #fc002d;
    color: #fff;
  }
  .nav .navlist ul li:hover::before {
    background-image: url(../img/index_nav_li_hover.png);
  }
  .nav a {
    width: 115px;
    height: 100%;
    display: inline-block;
    color: white;
    text-align: center;
  }
  .nav a:hover {
    background: #df022d;
  }
  
  .nav .navlist ul .list1 {
    height: 38px;
  }
  .nav .navlist ul .list1::before {
    background-position-y: 1px;
  }
  
  .nav .navlist ul .list2::before {
    background-position-y: -32px;
  }
  
  .nav .navlist ul .list3::before {
    background-position-y: -67px;
  }
  
  .nav .navlist ul .list4::before {
    background-position-y: -101px;
  }
  
  .nav .navlist ul .list5::before {
    background-position-y: -134px;
  }
  
  .nav .navlist ul .list6::before {
    background-position-y: -168px;
  }
  
  .nav .navlist ul .list7::before {
    background-position-y: -202px;
  }
  
  .nav .navlist ul .list8::before {
    background-position-y: -237px;
  }
  
  .nav .navlist ul .list9::before {
    background-position-y: -271px;
  }
  
  .nav .navlist ul .list10::before {
    background-position-y: -304px;
  }
  
  .nav .navlist ul .list11 {
    height: 38px;
  }
  .nav .navlist ul .list11::before {
    background-position-y: -339px;
  }