.commonHeader {
  height: 177px; }

.bigBox {
  background-color: #f6f6f6; }

.content {
  width: 1200px;
  height: 400px;
  margin: 0 auto 34px;
  position: relative; }
  .content .banner {
    width: 730px;
    height: 390px;
    position: absolute;
    top: 10px;
    left: 240px; }
    .content .banner ul li {
      position: absolute;
      opacity: 0; }
    .content .banner ol {
      width: 100%;
      text-align: center;
      position: absolute;
      bottom: 10px; }
      .content .banner ol li {
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 100%;
        background-color: #000;
        opacity: .2;
        margin: 0 4px; }
      .content .banner ol .active {
        background-color: #fc002d;
        opacity: 1; }
    .content .banner a {
      display: block;
      width: 40px;
      height: 65px;
      background: rgba(0, 0, 0, 0.3);
      color: #fff;
      position: absolute; }
    .content .banner .bannerleft {
      left: 10px; }
    .content .banner .bannerright {
      right: 10px; }
  .content .index_login, .content .news {
    width: 218px;
    position: absolute;
    right: 0;
    background-color: white;
    border: 1px solid #ebebeb; }
  .content .index_login {
    height: 198px;
    top: 10px; }
  .content .news {
    height: 183px;
    bottom: 0px; }
    .content .news p {
      width: 100%;
      height: 26px;
      text-align: center;
      font-size: 14px;
      margin-bottom: 16px; }
      .content .news p img {
        vertical-align: middle; }
    .content .news p:first-child {
      margin-top: 17px; }

.procurement {
  width: 1200px;
  height: 341px;
  margin: 0 auto; }

.procurementtop {
  width: 100%;
  height: 28px; }
  .procurementtop span:first-child {
    height: 100%;
    font-size: 20px;
    color: #333;
    float: left;
    margin-left: 6px; }
  .procurementtop span:last-child {
    height: 100%;
    font-size: 14px;
    color: #666;
    float: right;
    line-height: 28px; }
    .procurementtop span:last-child::after {
      content: '';
      display: inline-block;
      width: 14px;
      height: 14px;
      margin-left: 5px;
      background: url(../img/index_procurement.png); }

.procurementcontent {
  width: 1200px;
  height: 306px;
  margin-top: 7px; }
  .procurementcontent ul {
    width: 100%;
    height: 100%;
    background-color: white; }
    .procurementcontent ul li {
      width: 200px;
      height: 100%;
      float: left; }
      .procurementcontent ul li img {
        width: 180px;
        height: 135px;
        margin: 19px 10px 0; }
      .procurementcontent ul li p {
        width: 181px;
        height: 40px;
        font-size: 14px;
        margin: 10px auto;
        text-align: center; }
      .procurementcontent ul li span {
        display: block;
        width: 100%;
        color: #f33;
        font-size: 18px;
        text-align: center; }
      .procurementcontent ul li button {
        display: block;
        width: 120px;
        height: 32px;
        color: #fc002d;
        margin-top: 13px;
        background-color: white;
        border: 1px solid #fc002d;
        border-radius: 3px;
        margin: 13px auto 0; }
      .procurementcontent ul li:hover img {
        width: 189px;
        height: 142px;
        margin: 12px 5.5px 0; }
      .procurementcontent ul li:hover p {
        color: #fc002d; }

.classify {
  width: 1200px;
  height: 565px;
  margin: 0 auto;
  margin-top: 20px; }

.classifyText {
  width: 100%;
  height: 40px;
  margin-bottom: 2px; }
  .classifyText span {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold; }
  .classifyText ul {
    float: right;
    height: 40px;
    line-height: 40px; }
    .classifyText ul li {
      float: left;
      font-size: 14px;
      margin-left: 15px; }
      .classifyText ul li:hover {
        color: #fc002d; }

.classifyContent {
  width: 100%;
  height: 523px; }
  .classifyContent .classifyLeft {
    width: 230px;
    height: 100%;
    float: left;
    position: relative; }
    .classifyContent .classifyLeft span {
      font-size: 28px;
      color: white;
      position: absolute;
      left: 60px;
      top: 57px; }
  .classifyContent .classifyRight {
    width: 970px;
    height: 100%;
    float: left; }
    .classifyContent .classifyRight li {
      width: 230px;
      height: 255px;
      float: left;
      margin: 0 0 13px 12.5px;
      background-color: white; }
      .classifyContent .classifyRight li img {
        margin: 25px 35px 0; }
      .classifyContent .classifyRight li p {
        width: 183px;
        height: 35px;
        font-size: 14px;
        margin: 21px auto 0;
        text-align: center; }
      .classifyContent .classifyRight li span {
        display: block;
        width: 100%;
        font-size: 16px;
        color: #f33;
        text-align: center;
        margin-top: 15px; }
      .classifyContent .classifyRight li:hover img {
        width: 176px;
        height: 132px;
        margin: 13px 27px 0; }
      .classifyContent .classifyRight li:hover p {
        color: #fc002d; }

.classify1Left {
  background: url(https://icon.zol-img.com.cn/ucdn/b-zol-com/1.0.2/img/floor01.ce043a8d.jpg) no-repeat; }

.classify2Left {
  background: url(https://icon.zol-img.com.cn/ucdn/b-zol-com/1.0.2/img/floor02.cfb61c0c.jpg) no-repeat; }

.classify3Left {
  background: url(https://icon.zol-img.com.cn/ucdn/b-zol-com/1.0.2/img/floor03.41be7eec.jpg) no-repeat; }

.classify4Left {
  background: url(https://icon.zol-img.com.cn/ucdn/b-zol-com/1.0.2/img/floor04.06c3415b.jpg) no-repeat; }

.classify5Left {
  background: url(https://icon.zol-img.com.cn/ucdn/b-zol-com/1.0.2/img/floor05.e4b55abb.jpg) no-repeat; }

.classify6Left {
  background: url(https://icon.zol-img.com.cn/ucdn/b-zol-com/1.0.2/img/floor06.9b772be5.jpg) no-repeat; }

/*# sourceMappingURL=index.css.map */
